body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}


#app {
    margin: 50px auto;
    width: 300px;
}


#new-task {
    width: calc(100% - 50px);
    padding: 10px;
    margin-bottom: 10px;
}


#task-list {
    list-style: none;
    padding: 0;
}


#task-list li {
    display: flex;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}